{%- liquid
  assign target = product.selected_or_first_available_variant
-%}
<div class="price{% if target.compare_at_price > target.price %} price--on-sale{% endif %}">
  <span class="price__current">{{ target.price | money }}</span>
  {%- if target.compare_at_price > target.price -%}
    <span class="price__compare">{{ target.compare_at_price | money }}</span>
  {%- endif -%}
</div>
